<!--<meta http-equiv="refresh" content="3;url=/index">-->
<header>
    <% include header.ejs %>
    <script language="JavaScript">
        function forwarding() {
            location = "http://snug.kr/"
        }
    </script>
</header>
<body onLoad="setTimeout('forwarding()', 3000)">
<div class="main-top header-padding">
    <div class="complete_img">
        <img style="width: 70%;" src="/images/mail.png">
        <div class="banner-section" id="port1"></div>
        <div class="banner-text" id="name1"></div>
    </div>
</div>
<!--<script>portfolio()</script>-->
<script type="text/javascript" src="./portfolio.js"></script>
</body>