<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div>
    <div class="footer-space">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-8 footer-text">
                    <!--<h4>전화문의:010 . 2466 . 0762</h4>-->
                    <h5>사업자 375-54-00284<br>
                        메일 official@snug.kr<br>
                        주소 서울특별시 강남구 강남대로 464 5층 45호</h5>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center footer-link">
                    <a class="footer-a" href="http://blog.snug.kr/" target="_blank">
                        <img class="footer-end-icon" src="/images/blog.png"></a>
                    <a class="footer-a" href="https://www.facebook.com/snug.kr/" target="_blank">
                        <img class="footer-end-icon" src="/images/facebook.png"></a>
                    <a class="footer-a" href="https://www.instagram.com/snughome_/" target="_blank">
                        <img class="footer-end-icon" src="/images/inst.png"></a>
                </div>
            </div>
        </div>
        <!--<div class="footer-bottom">-->
            <!--<h6 class="footer-last">-->
                <!--COMPANY : 스너그 대표 : 김용환<br>-->
                <!--ADDRESS : 서울특별시 강남구 강남대로 464 패스트파이브 5층 45호<br>-->
                <!--BUSINESS LICENSE : 211-08-11928MAIL</h6>-->
        <!--</div>-->
    </div>
</div>
</body>
</html>