<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="http://snug.kr/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://snug.kr/favicon.ico" type="image/x-icon">
    <title><%= title %></title>
    <meta name="naver-site-verification" content="22acac44080aa4ad67acf147a3114546efbd092d"/>
    <meta name="description" content="디자이너와 함께하는 인테리어, 합리적이고 아름답게">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="홈스타일링 스너그">
    <meta property="og:description" content="디자이너와 함께하는 홈스타일링, 합리적이고 아름답게 공간을 바꿔보세요! 인테리어/리모델링/홈스타일링">
    <meta property="og:image" content="http://snug.kr/images/opg.png">
    <script src="./fontawesome-all.js"></script>
    <meta name="keywords"
          content="홈스타일링, 인테리어, 리모델링, 셀프인테리어, 새아파트 인테리어, 새아파트 리모델링, 새아파트 홈스타일링, 아파트 인테리어, 아파트 리모델링,
          아파트 홈스타일링, 원룸 인테리어, 원룸 홈스타일링, 원룸 리모델링, 빌라 인테리어, 빌라 리모델링, 집꾸미기, 자취방 인테리어, 자취방 리모델링,
          자취방 홈스타일링, 자취방 꾸미기, 사무실 인테리어, 사무실 리모델링, 빈티지 인테리어, 북유럽 인테리어, 네츄럴 인테리어, 인더스트리얼 인테리어,
          모던 인테리어, 미니멀리즘 인테리어, 심플 인테리어, 외국 인테리어,감각 인테리어, 감각적인 인테리어, 스너그, 스너그 홈스타일링, 스너그 인테리어,
          snug, homestyling, interior, interiordesign, 자취, 온라인집들이, 집들이, 여자 원룸, 남자 원룸, 럭셔리 인테리어, 클래식 인테리어,
          심플모던, 시공, 부분시공, 신혼집 인테리어, 신혼 인테리어, 신혼집 홈스타일링, 스너그홈스타일링, 홈스타일링 스너그">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T9VFPK7');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126820470-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-126820470-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '139091773552134');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=139091773552134&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Talk Talk Banner Script start -->
    <script type="text/javascript" src="https://partner.talk.naver.com/banners/script"></script>
    <div class="talk_banner_div naver-link" data-id="33564"></div>
    <!-- Talk Talk Banner Script end -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9VFPK7"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar fixed-top navbar-light bg-faded main-top">
    <div class="navbar navbar-toggleable-md navbar-light d-flex justify-content-between">
        <button class="navbar-toggler navbar-toggler-right m-menu" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation" style="border:0; outline: none">
            <i class="fa fa-bars" style="font-size: 28px" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand top-logo" href="/"></a>
        <div class="d-flex justify-content-end" style="z-index: 1;">
            <div class="collapse navbar-collapse" style="margin-right: -12px" id="navbarNavDropdown">
                <ul class="navbar-nav top-menu">
                    <!--<li class="nav-item border-bottom-0 nav-menu hidden-xs-up">-->
                        <!--<a class="nav-link" href="/InteriorPhoto">포트폴리오</a>-->
                    <!--</li>-->
                    <li class="nav-item border-bottom-0 nav-menu">
                        <a class="nav-link" style="color: black; width: 105px;" href="/service">서비스 소개</a>
                    </li>
                    <li class="nav-item nav-menu">
                        <a class="nav-link" style="color: black; width: 120px;" href="/request">상담 신청하기</a>
                    </li>
                    <li class="nav-item nav-menu hidden-xl-down">
                        <a class="nav-link" href="/QnA">자주하는 질문</a>
                    </li>
                    <li class="nav-item dropdown hidden-xs-up">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                            <!--<a class="dropdown-item" href="/test">Action</a>-->
                            <!--<a class="dropdown-item" href="#">Another action</a>-->
                            <!--<a class="dropdown-item" href="#">Something else here</a>-->
                        <!--</div>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>