<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<header>
    <% include header.ejs %>
</header>
<div class="header-padding">
    <script type="text/javascript" src="./email.js"></script>
    <script type="text/javascript" src="./portfolio.js"></script>
    <script type="text/javascript" src="./index.js"></script>
    <script>
        var test = function () {
            console.log("12312312");
        }
    </script>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators hidden-xl-down">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="d-block img-fluid slide1" alt="First slide"></div>
                <div class="carousel-caption d-md-block slide-box">
                    <h3 class="slide-font">당신을 위한 가장 합리적인 홈스타일링</h3>
                    <h3 class="slide-font-sm">당신을 위한 가장</br>합리적인 홈스타일링</h3>
                    <a href="/request" class="slide-btn btn btn-lg active"
                       role="button" aria-pressed="true">
                        <h5 class="slide-text">상담 신청하기</h5></a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block img-fluid slide2" alt="Second slide"></div>
                <div class="carousel-caption d-md-block slide-box">
                    <h3 class="slide-font">가장 편리한 홈스타일링</h3>
                    <h3 class="slide-font-sm">가장 편리한</br>홈스타일링</h3>
                    <a href="/request" class="slide-btn btn btn-lg active"
                       role="button" aria-pressed="true">
                        <h5 class="slide-text">상담 신청하기</h5></a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-block img-fluid slide3" alt="Third slide"></div>
                <div class="carousel-caption d-md-block slide-box">
                    <h3 class="slide-font">디자이너와 함께 공간을 꾸며보세요</h3>
                    <h3 class="slide-font-sm">디자이너와 함께</br>공간을 꾸며보세요</h3>
                    <a href="/request" class="slide-btn btn btn-lg active"
                       role="button" aria-pressed="true">
                        <h5 class="slide-text">상담 신청하기</h5></a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div>
    <div class="main-service-sm">
        <h4 style="text-align: center">포트폴리오</h4>
        인테리어 디자이너의 도움을 받아 편하고</br>아름답게 공간을 바꿔보세요!
    </div>
    <div class="row main-service-web">
        <h3 class="main-service">스너그 이용법</h3>
        <div style="width: 100%">
            <div class="line"></div>
        </div>
        <div class="col-md-4">
            <div class="won">
                <h4 class="won-text">1</h4>
            </div>
            <div class="card service-card">
                <div class="card-block" style="padding:0">
                    <h4 class="card-title service-title">정보입력</h4>
                    <p class="card-text">당신이 바꾸길 원하는 공간, 스타일, 예산을 알려주세요.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="won">
                <h4 class="won-text">2</h4>
            </div>
            <div class="card service-card">
                <div class="card-block" style="padding:0">
                    <h4 class="card-title service-title">온라인 상담</h4>
                    <p class="card-text">인테리어 디자이너와 온라인 상담을 통해
                        ​컨셉을 결정합니다.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="won">
                <h4 class="won-text">3</h4>
            </div>
            <div class="card service-card">
                <div class="card-block" style="padding:0">
                    <h4 class="card-title service-title">아이템 구매 대행</h4>
                    <p class="card-text">디자이너에게 제안받은 아이템 리스트를 최저가로 구매해드립니다.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-portfolio container">
        <div class="row portfolio-row">
            <div class="col-md-4 col-6">
                <img class="portfolid-img" src="/images/portfolio-m1.PNG">
            </div>
            <!--<%= jdata.list[0].main %>-->
            <div class="col-md-4 col-6">
                <img class="portfolid-img" src="/images/portfolio-m2.PNG">
            </div>
            <div class="col-md-4 main-portfolio-last">
                <img class="portfolid-img" src="/images/portfolio-m3.PNG">
            </div>
        </div>
        <div class="row portfolio-row">
            <div class="col-md-4 col-6">
                <img class="portfolid-img" src="/images/portfolio-b1.PNG">
            </div>
            <div class="col-md-4 col-6">
                <img class="portfolid-img" src="/images/portfolio-b2.PNG">
            </div>
            <div class="col-md-4 main-portfolio-last">
                <img class="portfolid-img" src="/images/portfolio-b3.PNG">
            </div>
        </div>
        <div class="row portfolio-row">
            <div class="col-md-4 col-6">
                <img class="portfolid-img" src="/images/portfolio-i1.PNG">
            </div>
            <div class="col-md-4 col-6">
                <img class="portfolid-img" src="/images/portfolio-i2.PNG">
            </div>
            <div class="col-md-4 main-portfolio-last">
                <img class="portfolid-img" src="/images/portfolio-i3.PNG">
            </div>
        </div>
    </div>
    <div class="row main-strength-web">
        <h3 class="main-service">스너그를 통해 비용과 시간을 아끼세요!</h3>
        <div style="width: 100%; margin-bottom: 30px">
            <div class="line"></div>
        </div>
        <div class="col-md-4">
            <img style="max-width: 90px" src="/images/strength1.png">
            <div class="card strength-card">
                <div class="card-block" style="padding:0">
                    <h4 class="card-title service-title">가성비</h4>
                    <p class="strength-text">가격정찰제를 통해 가성비있고 합리적인 홈스타일링, 인테리어를 실시합니다!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img style="max-width: 90px" src="/images/strength2.png">
            <div class="card strength-card">
                <div class="card-block" style="padding:0">
                    <h4 class="card-title service-title">디자인</h4>
                    <p class="strength-text">북유럽 스타일? 빈티지 스타일? 인테리어 전문가와 함께 상의하세요!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img style="max-width: 90px" src="/images/strength3.png">
            <div class="card strength-card">
                <div class="card-block" style="padding:0">
                    <h4 class="card-title service-title">편리함</h4>
                    <p class="strength-text">디자이너가 추천한 인테리어 제품을 스너그가 최저가로 구매대행해드립니다. 편하게 홈스타일링하세요!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-price">
        <h3 style="text-align: center">패키지&가격</h3>
        <div class="main-price-box">
            <h4 class="main-price-title">공간당</h4>
            <h4 class="main-price-sale"><strong>249,000원</strong></h4>
            <h5>1. 컨셉보드</h5>
            <h5>2. 스타일보드</h5>
            <h5>3. 시각화</h5>
            <h5>4. 제품 쇼핑리스트</h5>
            <h5>5. 구매대행</h5>
        </div>
    </div>
    <div class="about-us">
        <h3 class="about-us-title">
            ABOUT US
        </h3>
        <h5 class="about-us-memo">
            스너그는 “집”이라는 공간에 주목합니다.<br>
            집에 자신의 개성을 표현하고 싶은 사람이 많아지고 있지만<br>
            불필요한 프로세스로 많은 사람이 불편을 느끼고 있습니다.<br>
            스너그는 이런 모든 불편한 절차를 제거하고<br>
            인테리어 디자이너와 소비자와의 온라인 상담을 통해<br>
            홈스타일링, 인테리어의 대중화를 도모합니다.
        </h5>
    </div>
    <div class="cooperation">
        <h5 class="cooperation-memo">
            스너그는 홈스타일링, 인테리어의 대중화를 함께 이끌<br>
            <strong>인테리어 디자이너&협력업체</strong>를 기다립니다.<br>
            제휴문의 : team@snug.kr<br>
        </h5>
    </div>
</div>
</div>
<footer>
    <% include footer.ejs %>
</footer>
</body>
</html>