<header>
    <% include header.ejs %>
</header>
<div class="container-fluid header-padding">
    <div class="container paddingtop">
        <h3 style="text-align: center">인테리어 사진</h3>
        <div style="margin-top: 30px;" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0" style="text-align: center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                           aria-controls="collapseOne" style="color: black">
                            스타일별 인테리어 사진
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="photo-font"><u>북유럽 인테리어</u></h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/b-1.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/b-2.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/b-3.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/b-4.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/b-5.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/b-6.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="photo-font"><u>모던 인테리어</u></h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/m-1.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/m-2.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/m-3.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/m-4.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/m-5.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/m-6.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0" style="text-align: center">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo" style="color: black">
                            공간별 인테리어 사진
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="photo-font"><u>거실 인테리어</u></h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/g-1.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/g-2.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/g-3.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/g-4.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/g-5.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/g-6.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="photo-font"><u>침실 인테리어</u></h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/c-1.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/c-2.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/c-3.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/c-4.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="/images/c-5.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/c-6.png" style="width: 100%; margin-bottom: 15px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>