<header>
    <% include header.ejs %>
</header>
<div class="main-top header-padding">
    <div class="qna">
        <h3 class="qna-top-text">자주하는 질문</h3>
        <div class="qna-box" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="qna1-1">
                    <h5 class="mb-0">
                        <a class="qna-title" data-toggle="collapse" data-parent="#accordion" href="#qna1-2" aria-expanded="true"
                           aria-controls="qna1-2">
                            - 인테리어 업체와의 차이점이 뭐죠?
                        </a>
                    </h5>
                </div>
                <div id="qna1-2" class="collapse" role="tabpanel" aria-labelledby="qna1-1">
                    <div class="card-block">
                        <h6>스너그는 인테리어 디자이너와 대중을 잇는 플랫폼입니다.</h6>
                        <h6>인테리어에 대한 대중의 수요가 늘어남에 따라 셀프 인테리어에 도전하는 사람이 많아지고 있지만, 시간과 정보의 부족으로 쉽게 접근하지 못하고 있는 것이
                            현실입니다.</h6>
                        <h6>스너그는 소비자와 인테리어 디자이너를 온라인 상에서 연결함으로써 이러한 문제를 해결합니다.</h6>
                        <h6>소비자는 언제, 어디서나 전문가의 도움을 받아 간편하고 쉬운 인테리어를 실시할 수 있습니다.</h6>
                        <h6>또한 스너그는 디자이너가 소비자에게 제안한 가구/소품등을 최저가로 구매대행함으로써, 기존 인테리어 업체에 존재했던 불필요한 프로세스와 가격 불투명성을 재고하고
                            인테리어에 대중화를 도모합니다.</h6>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="qna2-1">
                    <h5 class="mb-0">
                        <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion" href="#qna2-2"
                           aria-expanded="false" aria-controls="qna2-2">
                            - 패키지 사이에 차이점은 무엇인가요?
                        </a>
                    </h5>
                </div>
                <div id="qna2-2" class="collapse" role="tabpanel" aria-labelledby="qna2-1">
                    <div class="card-block">
                        <h6>기본 패키지는 기존 가구와 소품을 활용하고, 추가 악세사리와 데코 소품을 이용하여 합리적으로 당신의 공간을 변화시킵니다.</h6>
                        <h6>이 패키지는 하나의 컨셉보드와 2번의 디자인 수정을 거쳐 완성됩니다.</h6>
                        <h6>프리미엄 패키지는 2개의 컨셉보드를 통해 당신이 원하는 디자인을 선택할 수 있습니다.</h6>
                        <h6>3번의 디자인 수정과 공간계획도까지 제시하여 구체적으로 변화된 후에 방을 보여드립니다.</h6>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="qna3-1">
                    <h5 class="mb-0">
                        <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion" href="#qna3-2"
                           aria-expanded="false" aria-controls="qna3-2">
                            - 얼마나 걸리나요?
                        </a>
                    </h5>
                </div>
                <div id="qna3-2" class="collapse" role="tabpanel" aria-labelledby="qna3-1">
                    <div class="card-block">
                        <h6>기본패키지는 5일, 프리미엄패키지는 10일이 소요됩니다.</h6>
                        <h6>만약 부분시공(벽지,장판)이 들어간다면 추가적으로 시간이 더 걸릴 수 있습니다.</h6>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="qna4-1">
                    <h5 class="mb-0">
                        <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion" href="#qna4-2"
                           aria-expanded="false" aria-controls="qna4-2">
                            - ​쇼핑리스트에 모든 아이템을 구매해야하나요?
                        </a>
                    </h5>
                </div>
                <div id="qna4-2" class="collapse" role="tabpanel" aria-labelledby="qna4-1">
                    <div class="card-block">
                        <h6>아닙니다. 쇼핑리스트중에 원하는 품목만 선택하여 구매할 수 있습니다.</h6>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="qna5-1">
                    <h5 class="mb-0">
                        <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion" href="#qna5-2"
                           aria-expanded="false" aria-controls="qna5-2">
                            ​- 최저가는 어떻게 보장하죠?
                        </a>
                    </h5>
                </div>
                <div id="qna5-2" class="collapse" role="tabpanel" aria-labelledby="qna5-1">
                    <div class="card-block">
                        <h6>가구업체와 제휴를 통해 온라인/오프라인 상에 어떤 가구,소품보다 저렴한 가격에 판매하고 있습니다.</h6>
                        <h6>만약 더 저렴한 제품을 온라인/오프라인 상에서 보았을시 가격표를 사진으로 찍어 보내주시면 그만큼의 차액을 할인해드리거나 전액 환불해드립니다.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
