<header>
    <% include header.ejs %>
    <script>fbq('track', 'RequestPageView');</script>
</header>
<script src="./email.js">
</script>
<div class="header-padding">
    <div class="paddingtop">
        <h3 style="text-align: center">상담 신청하기</h3>
        <div class="container-fluid row" style="margin:0">
            <div class="request-form col-md-10">
                <form class="col-md-12">
                    <div class="form-group row" style="margin-bottom: 15px;">
                        <div class="col-md-6 small-form">
                            <h5>*고객명</h5>
                            <input class="form-control request-box" placeholder="ex) 홍길동" type="text" id="name">
                        </div>
                        <div class="col-md-6 small-form">
                            <h5>*연락처</h5>
                            <input class="form-control request-box" placeholder="ex) 010-1234-1234" type="tel" id="tel">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom: 50px;">
                        <div class="col-md-6 small-form">
                            <h5>예산</h5><input class="form-control request-box" placeholder="ex) 가능한 예산을 적어주세요"
                                              type="text" id="money">
                        </div>
                        <div class="col-md-6 small-form">
                            <h5>지역</h5><input class="form-control request-box" placeholder="ex) ㅇㅇ시 ㅇㅇ동"
                                              type="text" id="area">
                        </div>
                    </div>
                    <div class="container" style="margin-bottom: 50px;">
                        <p class="select-text"><h5>스타일 선택하기</h5></p>
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <img src="/images/BUI.png" style="width: 100%; margin-bottom: 15px">
                                            <div class="d-flex justify-content-center">
                                                <input type="radio" style="margin-right: 10px" name="style"
                                                       value="북유럽" checked>
                                                <h6>북유럽 인테리어</h6>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <img src="/images/MDI.png" style="width: 100%; margin-bottom: 15px">
                                            <div class="d-flex justify-content-center">
                                                <input type="radio" style="margin-right: 10px" name="style"
                                                       value="모던">
                                                <h6>모던 인테리어</h6>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <img src="/images/MNI.png" style="width: 100%; margin-bottom: 15px">
                                            <div class="d-flex justify-content-center">
                                                <input type="radio" style="margin-right: 10px" name="style"
                                                       value="미니멀리즘">
                                                <h6>미니멀리즘 인테리어</h6>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <img src="/images/INI.png" style="width: 100%; margin-bottom: 15px">
                                            <div class="d-flex justify-content-center">
                                                <input type="radio" style="margin-right: 10px" name="style"
                                                       value="인더스트리얼">
                                                <h6>인더스트리얼 인테리어</h6>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <p class="request-error" id="error"></p>
                    <div class="btn-request">
                        <a onclick="email()" class="btn btn-lg active btn-ok"
                           role="button" aria-pressed="true" href="/complete">
                            상담 신청하기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>