<header>
    <% include header.ejs %>
</header>
<div class="main-top header-padding">
    <div style="text-align: center">
        <div class="img-big d-flex align-items-center">
            <h2 class="img-font">디자이너와 함께 당신의 공간을 바꿔보세요</h2>
            <h2 class="img-font-sm">디자이너와 함께</br>당신의 공간을 바꿔보세요</h2>
        </div>
        <h3 class="img-title">스너그 이용법</h3>
        <div class="line"></div>
        <div class="howfull hidden-sm-down">
            <img class="img-how" src="/images/howfull.png">
        </div>
        <div class="howfull hidden-md-up">
            <div class="row" style="margin:0">
                <div class="col-sm-6">
                    <img class="img-howto" src="/images/howto1.png">
                </div>
                <div class="col-sm-6">
                    <img class="img-howto" src="/images/howto2.png">
                </div>
            </div>
            <div class="row" style="margin:0">
                <div class="col-sm-6">
                    <img class="img-howto" src="/images/howto3.png">
                </div>
                <div class="col-sm-6">
                    <img class="img-howto" src="/images/howto4.png">
                </div>
            </div>
            <div class="row" style="margin:0">
                <div class="col-sm-6">
                    <img class="img-howto" src="/images/howto5.png">
                </div>
                <div class="col-sm-6">
                    <img class="img-howto" src="/images/howto6.png">
                </div>
            </div>
        </div>
    </div>
    <div class="option">
        <h3 class="option-text">옵션비교</h3>
        <h6 class="option-text-sub">(공간당 스타일링+벽지 교체한다고 가정)</h6>
        <div class="container">
            <div class="row option-row">
                <div class="col-lg-4">
                    <div class="option-box">
                        <h5 class="option-title">인테리어 업체</h5>
                        <br>
                        <h6 style="font-size: 16px">가격 : 90만원</h6>
                        <h6 style="font-size: 16px">시간 : 7일</h6>
                        <h6 style="font-size: 16px">디자인 : 1-2개 옵션</h6>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="option-box-snug">
                        <h3 class="option-title-snug">스너그</h3>
                        <br>
                        <h6 style="font-size: 18px; font-weight: 700">가격 : 70만원</h6>
                        <h6 style="font-size: 18px; font-weight: 700">시간 : 7일</h6>
                        <h6 style="font-size: 18px; font-weight: 700">디자인 : 1-2개 옵션</h6>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="option-box">
                        <h5 class="option-title">셀프 인테리어</h5>
                        <br>
                        <h6 style="font-size: 16px">가격 : 70만원</h6>
                        <h6 style="font-size: 16px">시간 : 15일</h6>
                        <h6 style="font-size: 16px">디자인 : 선택 가능</h6>
                    </div>
                </div>
                <a href="/request" class="btn btn-lg active btn-service" role="button"
                   aria-pressed="true">상담 신청하기</a>
            </div>
        </div>
    </div>
    <div class="price-full">
        <h3 class="price-text">스너그가 제공하는 것</h3>
        <div class="line"></div>
        <div class="container">
            <div class="row price-row">
                <div class="row col-md-6 price-box">
                    <div class="col-sm-6">
                        <img class="price-icon" src="/images/price1.png">
                        <div class="price-font">시각화</div>
                    </div>
                    <div class="col-sm-6">
                        <img class="price-icon" src="/images/price2.png">
                        <div class="price-font">제품 큐레이션</div>
                    </div>
                </div>
                <div class="row col-md-6 price-box">
                    <div class="col-sm-6">
                        <img class="price-icon" src="/images/price3.png">
                        <div class="price-font">온라인 상담</div>
                    </div>
                    <div class="col-sm-6">
                        <img class="price-icon" src="/images/price4.png">
                        <div class="price-font">최저가 구매대행</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h3 class="question-title">자주 묻는 질문</h3>
            <div class="qna-box" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card question-card">
                    <div class="card-header" role="tab" id="qna1-1">
                        <h5 class="mb-0">
                            <a class="qna-title" data-toggle="collapse" data-parent="#accordion" href="#qna1-2"
                               aria-expanded="true"
                               aria-controls="qna1-2">
                                + 인테리어 업체와의 차이점이 뭐죠?
                            </a>
                        </h5>
                    </div>
                    <div id="qna1-2" class="collapse qna-card" role="tabpanel" aria-labelledby="qna1-1">
                        <div class="card-block">
                            <h6>스너그는 인테리어 디자이너와 소비자를 잇는 온라인 인테리어 플랫폼입니다.</h6>
                            <h6>여러분은 디자이너와 함께 온라인상으로 언제 어디서나 편리한 인테리어,</h6>
                            <h6>홈스타일링을 실시할 수 있습니다. 또한 디자인비 정찰제와 최저가</h6>
                            <h6>구매대행을 통해 투명하고 합리적인 인테리어, 홈스타일링을 지향합니다.</h6>
                        </div>
                    </div>
                </div>
                <div class="card question-card">
                    <div class="card-header" role="tab" id="qna2-1">
                        <h5 class="mb-0">
                            <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion"
                               href="#qna2-2"
                               aria-expanded="false" aria-controls="qna2-2">
                                + 셀프인테리어보다 나은 점은 무엇인가요?
                            </a>
                        </h5>
                    </div>
                    <div id="qna2-2" class="collapse qna-card" role="tabpanel" aria-labelledby="qna2-1">
                        <div class="card-block">
                            <h6>셀프 인테리어에 대한 대중의 관심이 많아졌지만,</h6>
                            <h6>시간과 정보의 부족으로 쉽게 실행하지 못하는 것이 현실입니다.</h6>
                            <h6>스너그의 디자이너는 여러분이 쉽고 아름답게 공간을 꾸밀 수 있게 도와드립니다.</h6>
                            <h6>공간 컨셉과 시각화를 제공해드리니 전문가의 도움을 받아보세요!</h6>
                        </div>
                    </div>
                </div>
                <div class="card question-card">
                    <div class="card-header" role="tab" id="qna3-1">
                        <h5 class="mb-0">
                            <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion"
                               href="#qna3-2"
                               aria-expanded="false" aria-controls="qna3-2">
                                + 얼마나 걸리나요?
                            </a>
                        </h5>
                    </div>
                    <div id="qna3-2" class="collapse qna-card" role="tabpanel" aria-labelledby="qna3-1">
                        <div class="card-block">
                            <h6>제품 배송기간 제외 스타일링 5일 + 수정기간 2일이 걸립니다.</h6>
                            <h6>부분 시공(도배,바닥등)이 들어갈 경우 추가적으로 시간이 걸릴 수 있습니다.</h6>
                        </div>
                    </div>
                </div>
                <div class="card question-card">
                    <div class="card-header" role="tab" id="qna4-1">
                        <h5 class="mb-0">
                            <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion"
                               href="#qna4-2"
                               aria-expanded="false" aria-controls="qna4-2">
                                + ​최저가는 어떻게 보장하죠?
                            </a>
                        </h5>
                    </div>
                    <div id="qna4-2" class="collapse qna-card" role="tabpanel" aria-labelledby="qna4-1">
                        <div class="card-block">
                            <h6>가구/소품업체와 제휴를 통해 어떤 가구/소품업체보다</h6>
                            <h6>합리적인 가격으로 구매대행을 실시하고 있습니다.</h6>
                            <h6>만약 더 저렴한 제품을 온라인/오프라인 상에서 보았을시 가격표를 사진으로 찍어 보내주시면</h6>
                            <h6>그만큼의 차액을 할인해드립니다.</h6>
                        </div>
                    </div>
                </div>
                <div class="card question-card">
                    <div class="card-header" role="tab" id="qna5-1">
                        <h5 class="mb-0">
                            <a class="collapsed qna-title" data-toggle="collapse" data-parent="#accordion"
                               href="#qna5-2"
                               aria-expanded="false" aria-controls="qna5-2">
                                ​+ 시공도 하시나요?
                            </a>
                        </h5>
                    </div>
                    <div id="qna5-2" class="collapse qna-card" role="tabpanel" aria-labelledby="qna5-1">
                        <div class="card-block">
                            <h6>시공도 가능합니다. 스타일링 상담이 완료된 후 해당 지역에 제휴된 시공업체를 연결해드립니다.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include footer.ejs %>
    </footer>
</div>

