<header>
    <% include header.ejs %>
</header>
<script src="./email.js"></script>

<form action="/login" method="post">
    아이디 : <input name="user_id" type="text" /><br />
    비밀번호 : <input name="user_pwd" type="password" /><br />
    <input value="로그인" type="submit" />
    <a onclick="test('asdfasdf')" type="submit" class="btn btn-lg active slide-btn" role="button" aria-pressed="true">디자인
        시작하기!</a>
</form>

<!--<form action="https://formspree.io/vv0216vv@naver.com"-->
      <!--method="POST">-->
    <!--<input type="text" name="inname">-->
    <!--<input type="submit" value="Send">-->
    <!--<INPUT TYPE="button" VALUE="send" onClick="parent.location='mailto:vv0216vv@naver.com?subject=Subject'">-->
    <!--<a href="mailto:vv0216vv@naver.com">Send email</a>-->
    <!--<a onclick="test(input.email)" class="btn btn-lg active slide-btn" role="button" aria-pressed="true">디자인-->
        <!--시작하기!</a>-->
<!--</form>-->

