.main-top {
    padding: 0;
    height: 80px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.header-padding {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 80px;
}

.paddingtop {
    padding-top: 30px;
}

.naver-link {
    position: fixed;
    bottom: 20px;
    right: 80px;
    z-index: 1030;
    max-width: 50px;
    opacity: 0.8;
    border-radius: 10px;
}

.top-logo {
    width: 120px;
    height: 80px;
    margin-left: 150px;
    padding-bottom: 15px;
    background-image: url("../images/logo.png");
    background-size: cover;
}

@media (max-width: 992px) {
    .top-logo {
        width: 120px;
        min-height: 80px;
        margin-left: 0px;
        margin-top: -8px;
        background-image: url("../images/logo.png");
        background-size: cover;
    }
}

@media (min-width: 992px) {
    .top-menu {
        margin-right: 150px;
    }
}

.nav-item {
    margin-right: 20px;
}

@media (max-width: 992px) {
    .m-menu {
        margin-top: 15px;
    }
}

.slide {
    width: 100%;
    height: 400px;
}

.slide-box {
    padding-bottom: 75px;
}

@media (max-width: 575px) {
    .slide1 {
        max-height: 300px;
    }

    .slide2 {
        max-height: 300px;
    }

    .slide3 {
        max-height: 300px;
    }

    .slide-box {
        padding-bottom: 20px;
    }
}

.slide1 {
    height: 400px;
    min-width: 100%;
    background: center center no-repeat;
    background-size: cover;
    background-image: url("../images/slide1.png");
    filter: brightness(50%);
}

.slide2 {
    height: 400px;
    min-width: 100%;
    background: center center no-repeat;
    background-size: cover;
    background-image: url("../images/slide2.png");
    filter: brightness(50%);
}

.slide3 {
    height: 400px;
    min-width: 100%;
    background: center center no-repeat;
    background-size: cover;
    background-image: url("../images/slide3.png");
    filter: brightness(50%);
}

.slide-font {
    margin-bottom: 25px;
    font-weight: 700;
}

@media (max-width: 575px) {
    .slide-font {
        display: none;
    }
}

.slide-font-sm {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 23px;
}

@media (min-width: 575px) {
    .slide-font-sm {
        display: none;
    }
}

@media (max-width: 575px) {
    .slide {
        width: 100%;
        height: 300px;
    }
}

.slide-text {
    margin: 0;
    font-weight: 700;
}

.slide-btn {
    margin-bottom: 35px;
    background-color: black;
    border: 0;
    padding: 18px 24px;
    color: white;
    opacity: 0.85;
}

@media (max-width: 575px) {
    .slide-btn {
        margin-bottom: 35px;
        background-color: black;
        padding: 10px 18px;
        border: 0;
        color: white;
        opacity: 0.85;
    }
}

.slide-btn:hover {
    color: white;
}

.slide-btn:focus {
    color: white;
}

a:hover {
    color: #636c72;
}

a:focus {
    color: #636c72;
}

.photo-font {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .nav-menu {
        border: gray solid 1px;
        font-weight: 500;
        padding: 0 10px;
        text-align: center;
        background-color: white;
    }
}

.request-form {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 50px;
    border: black solid 1px;
}

@media (max-width: 575px) {
    .request-form {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 30px 0;
        border: black solid 1px;
    }
}

.request-box {
    border: 0;
    border-bottom: 2px solid;
    border-radius: 0;
}

.btn-request {
    text-align: center;
    color: white;
}

.request-error {
    text-align: center;
    color: red;
}

.btn-ok {
    background-color: black;
    border: 0;
    color: white;
}

.btn-ok:hover {
    color: white;
}

.btn-ok:focus {
    color: white;
}

.footer-space {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.footer-top {
    padding: 0 30px;
    color: black;
    border-top: 2px solid #f7f6f6;
    border-bottom: 2px solid #f7f6f6;
}

.footer-bottom {
    padding: 25px 30px;
}

.footer-last {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-left: 24px;
}

.bottom-menu {
    margin: 0 auto;
}

.select-full {
    margin-bottom: 50px;
}

.select-icon {
    font-size: 60px;
    color: black;
    margin-bottom: 15px;
    margin-top: 20px;
}

.select-text {
    text-align: center;
    margin: 15px 0 40px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .small-form {
        margin-bottom: 15px;
    }
}

.form-group {
    margin: 0;
}

.form-check-label {
    padding: 0;
}

.form-check-input {
    margin-left: 0;
}

.main-service-sm {
    display: none;
}

@media (max-width: 575px) {
    .main-service-sm {
        padding: 40px 30px 10px;
        text-align: center;
        display: block;
    }
}

.main-service-web {
    max-width: 905px;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
    text-align: center;
}

@media (max-width: 575px) {
    .main-service-web {
        display: none;
    }
}

.main-strength-web {
    margin: 0 auto;
    padding: 0 50px 50px 50px;
    text-align: center;
    background-color: #f7f6f6;
}

.main-service {
    text-align: center;
    width: 100%;
    margin-top: 70px;
}

.won {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: black;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.won-text {
    font-size: 30px;
    color: white;
    font-weight: 800;
    line-height: 80px;
}

.service-card {
    border: 0;
    margin: 0 auto;
}

.strength-card {
    border: 0;
    margin: 0 auto;
    background-color: #f7f6f6;
}

.service-title {
    font-size: 23px;
    margin-top: 25px;
}

.follow-link {
    color: white;
    font-size: 40px;
    margin: 0 5px;
}

.follow-link:hover {
    color: white;
    text-decoration: none;
}

.follow-link:focus {
    color: white;
}

.line {
    width: 96px;
    height: 16px;
    margin: 16px auto 0;
    border-top: 2px solid rgba(0, 0, 0, .2);
}

.footer-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}

.footer-end-icon {
    max-width: 60px;
    max-height: 60px;
    margin-right: 20px;
    border-radius: 14px;
}

.footer-a {
    max-width: 60px;
    max-height: 60px;
    margin: 0 10px;
}

@media (max-width: 767px) {
    .footer-a {
        margin-bottom: 30px;
    }
}

.footer-contact {
    max-height: 160px;
    margin: 0 10px;
}

.footer-text {
    margin: 50px 0;
    padding-left: 60px;
}

@media (max-width: 767px) {
    .footer-text {
        text-align: center;
    }
}

.main-compare {
    text-align: center;
    padding: 50px;
    background-color: #FAFAFA;
}

.compare-icon {
    width: 50%;
    margin-top: 30px;
}

.main-price {
    padding: 60px 0 50px;
}

.main-price-box {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 50px;
    color: black;
    border: solid 5px black;
}

.main-price-title {
    text-align: center;
    background-color: white;
    margin: 0 auto;
    margin-top: -44px;
    margin-bottom: 30px;
}

.main-price-sale {
    text-align: center;
    margin-bottom: 25px;
}

.price-box {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}

.price-font {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.price-icon {
    width: 100%;
}

@media (max-width: 767px) {
    .price-icon {
        width: 80%;
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .price-icon {
        width: 70%;
        margin-top: 30px;
    }
}

.img-big {
    height: 400px;
    min-width: 100%;
    background: center center no-repeat;
    background-size: cover;
    background-image: url("../images/service.png");
}

@media (max-width: 575px) {
    .img-big {
        height: 300px;
    }
}

.img-font {
    color: white;
    font-size: 35px;
    font-weight: 700;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 575px) {
    .img-font {
        display: none;
    }
}

.img-font-sm {
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding: 0 20px;
    margin: 0 auto;
}

@media (min-width: 575px) {
    .img-font-sm {
        display: none;
    }
}

.img-title {
    margin-top: 50px;
    margin-bottom: 35px;
}

.howfull {
    width: 100%;
    text-align: center;
}

.img-how {
    max-width: 900px;
    max-height: 540px;
}

.img-howto {
    width: 80%;
}

.qna {
    margin-top: 50px;
}

.qna-top-text {
    text-align: center;
    margin-bottom: 30px;
}

.qna-box {
    max-width: 700px;
    margin: 0 auto;
}

.qna-title {
    color: black;
    font-weight: 300;
}

.qna-card {
    background-color: #f7f6f6;
}

.option {
    margin-top: 30px;
    background-color: #f7f6f6;
}

@media (max-width: 575px) {
    .option {
        position: fixed;
    }
}

.option-text {
    padding-top: 80px;
    text-align: center;
}

.option-text-sub {
    font-size: 20px;
    text-align: center;
    padding-bottom: 80px;
}

.option-row {
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .option-row {
        max-width: 400px;
        margin: 0 auto;
    }
}

.option-box {
    margin: 0 20px;
    padding: 50px 35px 55px;
    border: 2px solid black;
    font-size: 32px;
    margin-bottom: 65px;
}

@media (max-width: 991px) {
    .option-box {
        padding: 60px 70px 50px;
    }
}

.option-box-snug {
    margin: 0 20px;
    padding: 50px 30px 50px;
    border: 5px solid black;
    font-size: 25px;
    color: black;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .option-box-snug {
        padding: 60px 70px 56px;
    }
}

.option-title {
    margin-top: -61px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background-color: #f7f6f6;
}

@media (max-width: 991px) {
    .option-title {
        margin-top: -71px;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        background-color: #f7f6f6;
    }
}

.option-title-snug {
    margin-top: -67px;
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: 700;
    background-color: #f7f6f6;
}

@media (max-width: 991px) {
    .option-title-snug {
        margin-top: -77px;
        text-align: center;
        font-size: 26px;
        color: black;
        font-weight: 700;
        background-color: #f7f6f6;
    }
}

.btn-service {
    color: white;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: black;
    font-weight: 700;
}

.price-row {
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 85px;
    padding: 0 50px;
}

@media (max-width: 575px) {
    .price-full {
        border-top: 1px solid;
        margin-top: 30px;
    }
}

.price-text {
    padding-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.question {
    padding: 90px 0;
    background-color: #f7f6f6;
}

.question-card {
    border: 0;
    border-bottom: 2px solid #cacaca;
    border-radius: 0;
}

.question-title {
    text-align: center;
    margin-bottom: 40px;
}

.strength-text {
    font-size: 15px;
}

.about-us {
    padding: 70px;
    text-align: center;
    background-color: #f7f6f6;
}

@media (max-width: 575px) {
    .about-us {
        position: fixed;
    }
}

.about-us-title {
    margin-bottom: 40px;
}

.about-us-memo {
    line-height: 25px;
    font-size: 17px;
}

.cooperation {
    padding: 70px;
    text-align: center;
}

@media (max-width: 575px) {
    .cooperation {
        background-color: #f7f6f6;
    }
}

.cooperation-memo {
    line-height: 25px;
    font-size: 17px;
}

.main-portfolio {
    padding-bottom: 70px;
}

.portfolid-img {
    max-width: 100%;
    border-radius: 7px;
}

.portfolid-dim:hover {
    max-width: 100%;
    border-radius: 7px;
    background-color: black;
}

.portfolio-row {
    margin: 30px 70px 0;
}

@media (max-width: 767px) {
    .portfolio-row {
        margin: 25px;
    }
}

@media (max-width: 767px) {
    .main-portfolio-last {
        display: none;
    }
}

.modal-title {
    font-size: 20px;
    margin: 6px;
}

.modal-main {
    max-width: 800px;
    padding: 60px;
    margin: 0 auto;
}

.modal-header {
    border-bottom: 5px solid #eceeef;
}

.modal-content {
    max-height: 82vh;
}

@media (max-width: 767px) {
    .modal-content {
        max-height: 100vh;
    }
}

.modal-body {
    padding: 0;
}

.modal-photo {
    width: 70%;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .modal-photo {
        width: 70%;
        padding: 20px;
        overflow: hidden;
        overflow-y: auto;
    }
}

.modal-info {
    width: 30%;
    border-left: 5px solid #eceeef;
}

@media (max-width: 767px) {
    .modal-main {
        min-width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
    }
}

.modal-info-photo {
    width: 100%;
    margin-bottom: 20px;
}

.portfolio-text {
    text-align: center;
    margin-top: 10px;
}

.modal-info-header {
    height: 75%;
    border-bottom: 5px solid #eceeef;
    padding: 23px 10px;
}

.modal-font {
    font-size: 16px;
    line-height: 7px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .modal-font {
        font-size: 14px;
    }
}

.modal-font-s {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .modal-font-s {
        font-size: 14px;
    }
}

.modal-info-footer {
    height: 20%;
    text-align: center;
    padding: 10px;
}

.footer-m {
    font-size: 13px;
    color: #696a6b;
}

@media (max-width: 767px) {
    .modal-info-header {
        height: 75%;
        border-bottom: 5px solid #eceeef;
    }
}

@media (max-width: 767px) {
    .modal-info-footer {
        height: 20%;
    }
}

.modal-btn {
    width: 100%;
    background-color: black;
}

.modal-btn-text {
    color: white;
    font-size: 16px;
    margin: 0;
}

.complete_img{
    text-align: center;
    margin-top: 70px;
}